@charset "utf-8";
/* CSS Document */

body {
	background-color: #B47EED;
	text-align: center;
} 

nav {
	background-color: #F022BC;
	padding: 10px;
	border-radius: 15px;
	border-color: white;	
}
nav li {
	display:inline;
	padding: 10px;
}

#homepage_photo {
	width: 300px;
	height: 400px;
	align: center;
}

#name {
	float:left;
	width: 50%;
	}

#bucky_photo {
	float: right;
	width: 50%;
}

#about_me_divs {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border: 3px;
	margin: 0, auto;
}

.part_about_me {
	width: 30%;
	background-color: 2F4FED;
	height: 40%;
	text-height: 120%;
}

#first_day_picture {
	width: 300px;
	height: 400px;
	float: right;
}

.role {
	font-weight: bold;
	text-color: blue;
	background-color: white;
	padding: 8px;
}

#classes {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border: 3px;
	margin: 0, auto;
}

.class_list {
	width: 45%;
	border: 20px;
	background-color: 2F4FED;
	border-radius: 15px;
	border-color: white;
}
