@charset "utf-8";
/* CSS Document */

body {
	background-color: #B47EED;
	text-align: center;
} 

nav {
	background-color: #F022BC;
	padding: 10px;
	border-radius: 15px;
	border-color: white;	
}
nav li {
	display:inline;
	padding: 10px;
}
	

#homepage_photo {
	width: 300px;
	height: 400px;
	align: center;
}

#first_day_picture {
	width: 300px;
	height: 400px;
	float: right;
}

section {
	text-align: left;
}

.role {
	font.weight: bold;
	text-color: blue;
	background-color: white;
	padding: 8px;
}
